footer {
    position: absolute;
    bottom: 8px;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
}

footer a {
    color: #5f93f9;
    text-decoration: none;
}

footer i {
    margin: 0 4px;
}