html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
}

body {
  padding: 32px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #f3f6f9 0%, #ffffff 100%);
}

* {
  box-sizing: border-box;
}

input {
  font-family: "Itim", cursive;
}

input:-internal-autofill-selected {
  background-color: #f5f8ff !important;
}

.container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  max-width: 768px !important;
  min-height: 650px;
  margin: 0 auto;
  padding: 32px 32px 56px;
  border-radius: 4px;
  border: 1px solid #e0e3e7;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.13),
  0 0.3px 0.9px 0 rgba(0, 0, 0, 0.11);
  box-sizing: border-box;
  color: #1a2027;
  background-color: #ffffff;
}

@media all and (max-width: 768px) {
  body {
    padding: 16px;
  }

  .container {
    padding: 16px 16px 56px;
  }
}